body {
    font-size: 1.7rem;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}
header {
    background-color: black;
    padding-top: .5rem;
    height: 4.8rem;
    width: 98%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: .020rem solid seashell;
    z-index: 1;
    top: 0;
}
.logo {
    height: 3.6rem;
    padding-top: .4rem;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
.nav-link {
    align-self: center;
    text-decoration: underline;
    color: seashell;
    font-size: 1em;
    padding: .3em;
    font-family: sans-serif;
}

/* Main */
.main {
    margin-top: 4.6rem;
    padding-top: .5rem;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Mission */
#mission {
    background: url("/Users/noorulainkhaliq/Desktop/Tea Cozy/resources/images/background.jpg") no-repeat center center;
    height: 47rem;
    background-size: contain;
/* height: 180vh; */
}
.mission-content {
    background: black;
    margin: auto;
    width: 100%
}
h2, h3, h4,h5 {
    padding: .6rem;
    margin: auto;
  }

/* Tea Month */
#tea-month {
    padding-top: 5rem;
}
.tea img {
    height: 12.5rem;
    width: 18.75rem;
    padding: 1.25rem;
}

.tea span{
    display: block;
    font-weight: bold;
}
.tea {
    padding: 0.6rem;
}

/* Locations */

#locations {
    background: url("/Users/noorulainkhaliq/Desktop/Tea Cozy/resources/images/locations.jpg") no-repeat center center;
    height: 40rem;
    margin-top: 2rem;
    background-size: contain;
}

.location {
    align-items: center;
    background-color: black;
    width: 18.75rem;
    margin-top: 0.9rem;
    opacity: 1;
    border: .1rem solid seashell;
    padding: 2rem 0;
  }
footer{
    text-align: left;
    padding-left: 0.625rem;
}

@media only screen and (max-width: 1035px) {
    .location{
        width: 15rem;
        height: 15rem;
        margin: auto;
        padding: .2rem;
    }
}
@media only screen and (max-width: 950px) {
    #mission{
        height: 40rem;
    }
    .location{
        width: 13rem;
        flex-grow: 1;
    }
    footer{
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .location{
        width: 13rem;
        flex-grow: 1;
    }
    #locations{
        background: none;
    }
    nav {
        flex-wrap: nowrap;
        align-self: center;
        font-size: 1.5rem;
    }
    header{
        flex-direction: column;
        height: fit-content;
    }
    .logo{
        width: 10rem;
        align-self: center;
    }
    footer{
        text-align: center;
    }
}
@media only screen and (max-width: 454px) {
    #contact{
        margin-top: 11rem;
    }
}